.form {
	width: 700px;
	margin: 0 auto;
}

.border {
	border-color: black;
}

.sample-show-hide.ng-enter,
.sample-show-hide.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
};

.sample-show-hide.ng-enter,
.sample-show-hide.ng-leave.ng-leave-active {
	opacity: 0;
}

.sample-show-hide.ng-leave,
.sample-show-hide.ng-enter.ng-enter-active {
	opacity: 1;
}